---
import Layout from "../layouts/Layout.astro";
import { CldUploadWidget } from "astro-cloudinary";
import Heading from "fulldev-ui/components/Heading.astro";
import Button from "fulldev-ui/components/Button.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Heading color="brand" contrast={false}> Hola ! </Heading>
    <CldUploadWidget
			id="upload-widget"
      uploadPreset="Zombieland"
      options={{
        sources: ["local"],
        multiple: false,
        maxFiles: 1,
        language: "es",
      }}
    >
      <Button color="brand" as="button">Carga tu imagen</Button>
    </CldUploadWidget>
  </main>
</Layout>

<script>
	import { navigate } from 'astro:transitions/client';

	const widget = document.getElementById("upload-widget")

	if(widget){
		widget.addEventListener('clduploadwidget:success', ((e: CustomEvent<{ info: {public_id: string}}>) => {
			// console.log('clduploadwidget:success', e.detail);
			const publicId = e.detail.info.public_id;

			navigate(`/photo?id=${publicId}`)	
		}) as EventListener)
	}

</script>

<style>
  main {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
  }
</style>

<script></script>